* {
  box-sizing: border-box;
}

body{
    display: flex;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 auto;
}
.recvired::before{
    content: "★" ;
    color: red;

}
fieldset{
    display: flex;
    flex-direction: column;
}
